* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #f7f7f7;
    color: #2c3e50; 
  }
  
  .header {
    background: linear-gradient(to right, #083796, #08967D); 
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 3px solid #16a085; 
  }
  
  .menu-button {
    color: white;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .logo {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px; /* Adicionando espaçamento entre as letras */
  }
  
  .sidebar {
    width: 250px;
    height: 100vh;
    background: linear-gradient(to right, #1444a5, #08967D);
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease;
    z-index: 998;
    padding-top: 80px;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.3); 
  }
  
  .sidebar.open {
    left: 0; /* Quando aberto, o menu fica à vista */
  }
  
  .sidebar-header {
    text-align: center;
    margin-bottom: 30px;
    color: #ecf0f1; /* Cor clara para contraste */
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px; /* Espaçamento entre letras para destacar */
  }
  
  .sidebar-nav {
    list-style: none;
    padding: 0;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 18px 25px;
    color: #bdc3c7; /* Cor suave para os itens */
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    border-bottom: 1px solid #2c3e50; /* Linha de separação entre os itens */
  }
  
  .nav-item:hover {
    background-color: #08967D; /* Cor suave para o hover */
    color: white; /* Texto branco ao passar o mouse */
  }
  
  .nav-item:active {
    background-color: #1abc9c; /* Cor de fundo ao clicar */
  }
  
  .nav-item a {
    text-decoration: none;
    color: inherit;
    width: 100%;
  }
  
  .sidebar-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-size: 14px;
    padding: 10px;
  }
  
  .sidebar-footer a {
    color: #ecf0f1;
    text-decoration: none;
  }
  
  .sidebar-footer a:hover {
    color: #16a085;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .header {
      padding: 12px 20px;
    }
  
    .logo {
      font-size: 22px;
    }
  
    .sidebar {
      width: 200px;
      padding-top: 70px;
    }
  
    .nav-item {
      font-size: 16px; 
    }
  }
  
  